<div class="center">
  <h2>Employees</h2>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed
    eros tristique bibendum.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- employees works! {{ employees | json }} -->
      
      <div *ngIf="loadingError;else emp_table" class="center">
        <h1>ERROR LOADING EMPLOYEES</h1>
      </div>

      <ng-template #emp_table>
          <input class="form-control" id="EmployeeSearch" name="EmployeeSearch" type="text" 
          placeholder="Search Employees by Full Name or Position" (keyup)="onEmployeeSearchKeyUP($event)" /><br />
      <div class="table-responsive">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Address</th>
              <th>Phone Number</th>
              <th>Hire Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of filteredEmployees" (click)="routeEmployee(emp._id)"> 
              <td>{{emp.FirstName + " " + emp.LastName}}</td>
              <td>{{emp.AddressStreet + ". " + emp.AddressState + ", " + emp.AddressCity + ". " + emp.AddressZip}}</td>
              <td>{{emp.PhoneNum + " ext: " + emp.Extension}}</td>
              <td>{{emp.HireDate | date:'longDate'}}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
     </ng-template>


    </div>
  </div>
</div>
